// Colors
$white: #FFFFFF;
$blue: #4472c4;
$blue-active: #1959c7;
$orange: #ed7d31;
$orange-active: #f06b12;
$braun: #404040;
$braun-active: #312f2f;

// Background
$gray-lightest: #FAFAFA;
// Lines and border color
$gray-lighter: #E1E1E1;
// Basic font color
$gray: #3A3D3F;
// Brand primary color
$primary: #0BB879;
// Alert done color
$light-green: #61C256;
// Alert warning color
$warning: #FFA140;
// Alert danger color
$danger: #F15B52;
// Link color
$link: #9b9b9b;
// Link color
$link-active: #3A3D3F;
// Menu and header color
$gray-dark: #464a4f;
// Text disabled color
$text-disabled: #dddddd;


