@import './partials/variables';
@import './partials/fonts';
@import './partials/general';

.button {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  width: 150px;
  height: 40px;
  font-size: 16px;
  border-radius: 3px;
  outline: none;
  text-transform: uppercase;
}

.btn-blue {
  background: $blue;
  color: $white;
  &:hover,
  &:active,
  &:focus {
    background: $blue-active;
  }
}
.btn-orange {
  background: $orange;
  color: $white;
  &:hover,
  &:active,
  &:focus {
    background: $orange-active;
  }
}

.btn-braun {
  background: $braun;
  color: $white;
  &:hover,
  &:active,
  &:focus {
    background: $braun-active;
  }
}

.btn-grey {
  background: $white;
  border: 1px solid #e1e1e1;
  color: #9b9b9b;
  &:hover,
  &:active,
  &:focus {
    background: #fafafa;
  }
}
.btn-disabled {
  pointer-events: none;
  opacity: 0.4;
}
